<div class="container">
    <form id="validationform" method="post" data-parsley-validate="" novalidate="">
    <div class="row">
        <div class="col-md-7">
            <div class="billing-details">
                <div class="section-title">
                    <h3 class="title">Đăng ký</h3>
                    {{#if data.error}}
                    <h2 class="alert">{{data.error}}</h2>
                    {{/if}}
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="firstName" placeholder="Nhập tên của bạn" value="{{data.cache.firstName}}">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="lastName" placeholder="Nhập Họ và tên lót" value="{{data.cache.lastName}}">
                </div>
                <div class="form-group">
                    <input class="input" type="email" name="email" placeholder="Thư điện tử" value={{data.cache.email}}>
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="address" placeholder="Địa chỉ" value="{{data.cache.address}}">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="city" placeholder="Thành phố" value="{{data.cache.city}}">
                </div>
                <div class="form-group">
                    <input class="input" type="text" name="country" placeholder="Quốc gia" value="{{data.cache.country}}">
                </div>
                <div class="form-group">
                    <input class="input" type="tel" name="phone" placeholder="Số điện thoại" value="{{data.cache.phone}}">
                </div>
                <div class="form-group">
                    <input class="input" type="password" name="password" placeholder="Nhập mật khẩu" value="{{data.cache.password}}">
                </div>
                <div class="form-group">
                    <input class="input" type="password" name="passwordRetype" placeholder="Xác nhật mật khẩu">
                </div>
                <div class="form-group">
                        <div class="input-checkbox">
                            <input type="checkbox" id="terms" name="terms" {{#if data.cache}}checked{{/if}}>
                            <label for="terms">
                                <span></span>
                                Tôi đã đọc và đồng ý <a href="/dieu-khoan-chinh-sach">các điều khoản và chính sách</a>
                            </label>
                        </div>
                </div>
                <div class="form-group">
                    <button class="primary-btn order-submit">Tiếp Tục</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>