
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">hot deal this week</h2>
                    <p>New Collection Up to 50% OFF</p>
                    <a class="primary-btn cta-btn" href="/san-pham">Shop now</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->


{{#each data.products_sections}}
<!-- SECTION -->

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">{{this.name}}</h3>
                    </div>
                </div>
                <!-- /section title -->

                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab{{this.index}}" class="tab-pane active">
                                <div class="products-slick" data-nav="#slick-nav-{{this.index}}">

                                    {{#each this.products}}

                                    <!-- product -->
                                        <div class="product">
                                            <a href="/san-pham/{{this.category}}-{{this.id}}">
                                            <div class="product-img">
                                                <img src="{{this.image}}" alt="">
                                                {{#if this.labels}}
                                                    <div class="product-label">
                                                        {{#each this.labels}}
                                                            <span class="{{this.tagClass}}">{{this.title}}</span>
                                                        {{/each}}
                                                    </div>
                                                {{/if}}
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{this.categoryName}}</p>
                                                <h3 class="product-name">{{this.name}}</h3>
                                                <h4 class="product-price">
                                                    {{this.price}}
                                                    {{#if this.oldPrice}}
                                                        <del class="product-old-price">{{this.oldPrice}}</del>
                                                    {{/if}}
                                                </h4>
                                                <div class="product-rating">
                                                    {{#each this.starRate}}
                                                        <i class="fa fa-star"></i>
                                                    {{/each}}
                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
                                            </div>
                                            </a>
                                        </div>
                                    <!-- /product -->

                                    {{/each}}

                                </div>
                                <div id="slick-nav-{{this.index}}" class="products-slick-nav"></div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
                <!-- Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

<!-- /SECTION -->

{{/each}}

<!-- SECTION -->
{{#if data.top_categories}}
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- shop -->
                {{#each data.top_categories}}
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img">
                                <img src="{{this.image}}" alt="">
                            </div>
                            <div class="shop-body">
                                <h3>Bộ sưu tập<br>{{this.categoryName}}</h3>
                                <a href="/san-pham?danhmuc={{this.category}}" class="cta-btn">Mua ngay <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                {{/each}}
                <!-- /shop -->
            </div>

            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{{/if}}

<!-- /SECTION -->
<!-- SECTION
<div class="section">
     container
    <div class="container">
         row
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="section-title">
                    <h4 class="title">Top Sản Phẩm</h4>
                    <div class="section-nav">
                        <div id="slick-nav-3" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-3">
                    <div>
                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product07.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product08.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product09.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         product widget
                    </div>

                    <div>
                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product02.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product03.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         product widget
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-6">
                <div class="section-title">
                    <h4 class="title">Top selling</h4>
                    <div class="section-nav">
                        <div id="slick-nav-4" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-4">
                    <div>
                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product04.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product05.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product06.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         product widget
                    </div>

                    <div>
                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product07.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product08.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product09.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         product widget
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm visible-xs"></div>

            <div class="col-md-4 col-xs-6">
                <div class="section-title">
                    <h4 class="title">Top selling</h4>
                    <div class="section-nav">
                        <div id="slick-nav-5" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-5">
                    <div>
                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product02.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product03.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         product widget
                    </div>

                    <div>
                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product04.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product05.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         /product widget

                         product widget
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="/images/product06.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                         product widget
                    </div>
                </div>
            </div>

        </div>
         /row
    </div>
     /container
</div>
 /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Đăng ký để nhận <strong>NHIỀU ƯU ĐÃI</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Nhập địa chỉ mail của bạn">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Đăng ký ngay</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->